[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
Type=notify
User=filetransfer
Group=filetransfer
RuntimeDirectory=gunicorn
WorkingDirectory=/home/filetransfer/tipping/app/
ExecStart=/usr/bin/gunicorn -b localhost:8001 app:app
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target