<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'head.html' %}
  </head>
  <style>

    {% include 'base.css' %}
    {% include 'index.css' %}

    .all {
      text-align: center;
    }
  </style>
  <body>
    {% include 'topnav.html' %}

    <div id="content" class="all">
      <h2>Welcome to the...</h2>
      <h1>
        <b
          >Second Annual Morland-Bradshaw
          <br />
          Family Tipping Comp!</b
        >
      </h1>

      <div id="main-content">
        <h2>Recent Results</h2>
        <h2>Ladder</h2>
        <h2>Next Matches</h2>

      </div>

      <br />
    </div>
    {% include 'scripts.html' %}
  </body>
</html>
