<!doctype html>
<html lang="en">
  <head>
    {% include 'head.html' %}
  </head>
  <style>

    {% include 'base.css' %}

    .all {
      text-align: center;
    }
  </style>
  <body>

    {% include 'topnav.html' %}
    
    <div class="all">
      <h1>Welcome to the <b>Inaugral Bradshaw-Morland Family Tipping Comp!</b></h1>
      
      To get started, click on Upcoming Matches, select a match, and start placing your bets!
      <br>
      <br>
      I'm still working out some time zone issues, but these should be fixed soon.
      <br>
      <br>
    </div>
    {% include 'scripts.html' %}
  </body>
</html>