<html>
  <style>
    {% include 'topnav.css' %}
    .all {
      text-align: center;
    }
  </style>
  <body>
    {% include 'topnav.html' %}
    <div class="all">
    <h1>Welcome to the <b>Inaugral Bradshaw-Morland Family Tipping Comp!</b></h1>
    
    To get started, click on Upcoming Matches, select a match, and start placing your bets!
    <br>
    <br>
    I'm still working out some time zone issues, so if it lets you bet after the game has finished please resist the urge to cheat.
    <br>
    <br>
    I'll add more features over time, but there should be enough to get started just in time for the start of the season.
  </div>
  </body>
</html>