<!doctype html>
<html lang="en">
  <head>
    {% include 'head.html' %}
  </head>
  <style>

    {% include 'base.css' %}
    {% include 'scoreboard.css' %}

   
  </style>
  <body>

    {% include 'topnav.html' %}
    
    <h1>Ladder</h1>

    <div id="container">
      {% for user in users %}
      <div class="row">
        <div class="name"><a href="/tippingcomp/user/{{ user.first_name }}/"><span>{{ user.first_name }}</span></a></div><div class="score">{{ user.score }}</div>
      </div>
      {% endfor %}
    <br>
    Click each name to see how they bet
    </div>
    <div>
      
    </div>
    {% include 'scripts.html' %}
  </body>
</html>
