<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'head.html' %}
  </head>
  <style>

    {% include 'base.css' %}
    {% include 'index.css' %}
    {% include 'scoreboard.css' %}
    {% include 'matches.css' %}

    .all {
      text-align: center;
    }
  </style>
  <body>
    {% include 'topnav.html' %}

    <div id="content" class="all">
      <h2>Welcome to the...</h2>
      <h1>
        <b
          >Second Annual Morland-Bradshaw
          <br />
          Family Tipping Comp!</b
        >
      </h1>
      <div id="main-content">
        <div>
          <h2>Recent Results</h2>
        </div>
        <div>
          <h2>Ladder</h2>
          {% include 'scoreboard1.html' %}
        </div>
        <div>
          <h2>Next Match</h2>
          <div class="matchRow">{% include 'match1.html' %}</div>
          <div class="info">
            {% if match.has_bet %} You have bet on {{ match.bet_team }}. {%
            endif %} {% if match.begun %} Bets have closed. {% else %} Bets are
            still open. {% endif %}
          </div>
        </div>
      </div>

      <br />
    </div>
    {% include 'scripts.html' %}
  </body>
</html>
