<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'head.html' %}
  </head>
  <style>

    {% include 'base.css' %}

    .loginform form {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }

    .loginform form input {
      border: 1px solid #ccc;
      border-radius: 5px;
      margin: 0.5rem 0;
    }
  </style>
  <body>
    {% include 'topnav.html' %}
    <br />
    <br />
    <div class="loginform">
      <form method="post">
        <input
          type="email"
          name="email"
          id="email"
          placeholder="Email"
          required
        />
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Password"
          required
        />
        <button type="submit">Log In</button>
      </form>
    </div>
    {% include 'scripts.html' %}
  </body>
</html>
