<div class="rowcontainer">
  <div class="row">
    <div class="team col-6 col-sm-5">
      <a href="#" onclick="(function(e) { bet({{ match.id }}, 'home', e); })(event)"
        ><img
          src="{{ url_for('static', filename=match.home_team().abbrev+'.png') }}"
          class="img-fluid"
          alt="Logo"
        /><br /><br />{{ match.home_team().name }}</a
      >
    </div>
    <div class="col-6 col-sm-5 order-sm-3 team">
      <a href="#" , onclick="(function(e) { bet({{ match.id }}, 'away', e); })(event)"
        ><img
          src="{{ url_for('static', filename=match.away_team().abbrev+'.png') }}"
          class="img-fluid"
          alt="Logo"
        /><br /><br />{{ match.away_team().name }}</a
      >
    </div>
    <div class="vs align-middle col-sm-2 order-sm-2">
      <div class="info">
        {{ match.venue }}<br /><br />
        <div>{{ match.date }}<br />{{ match.localtime }}</div>
      </div>
    </div>
  </div>
  <div class="info" id="{{match.id}}">
    {% if match.has_bet %} You have bet on {{ match.bet_team }}. {% endif %} {%
    if match.begun %} Bets have closed. {% else %} Bets are still open. {% endif
    %}
  </div>
</div>
<script>
  function bet(match_id, team, event) {
    event.preventDefault();
    fetch("/tippingcomp/matches/" + match_id + "/bet/" + team + "/")
      .then((response) => response.json())
      .then((data) => {
        document.getElementById(
          match_id
        ).innerHTML = `You have bet on ${data.team}.`;
      });
  }
</script>
