.rowcontainer {
  border-bottom: 1px solid #afafaf;
  max-width: 600px;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: bold;
  font-size: large;
}

.team {
  position: relative;
  display: inline-block;
  width: 40%;
  margin: auto;
  text-align: center;
}

.vs {
  display: inline-block;
  width: 20%;
  height: 100%;
  margin: auto;
  text-align: center;
  font-size: small;
  font-weight: normal;
  position: relative;
}

.info {
  display: inline-block;
  width: 100%;
  margin: auto;
  text-align: center;
  font-size: small;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: var(--text-color)
}
