<!doctype html>
<html lang="en">
  <head>
    {% include 'head.html' %}
  </head>
  <style>

    {% include 'base.css' %}
    {% include 'matches.css' %}

  </style>
  <body>
    {% include 'topnav.html' %}
    <div id="container">
      {% for match in matches %}
      <div class="row rowcontainer">
        <a href="/tippingcomp/matches/{{ match.id }}"><div class="row">
            <div class="team col-5"><img src="/static/{{match.home_team().abbrev}}.png" class="img-fluid" alt="Logo"/></div><div class="vs col-2">{{ match.venue }}<br><br>{{ match.hdate }}<br>{{ match.htime }}</div><div class="team col-5"><img src="/static/{{match.away_team().abbrev}}.png" class="img-fluid" alt="Logo"/></div>
            <div class="info">  
              {% if match.has_bet %}
                You have bet on {{ match.bet_team }}.
              {% endif %}
              {% if match.begun %}
                Bets have closed.
              {% else %}
                Bets are still open.
              {% endif %}
            </div>
        </div></a>
      </div>
      {% endfor %}
    </div>
    {% include 'scripts.html' %}
  </body>
</html>
